.container{
    width: 90%;
    height: 35em;
    background-color: #25A9FC;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.mid{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #A4BECF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.ears{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 25px solid #A3BED3;
    /* margin: 30px; */
    background-color: #809CB1;
}
.left{
    position: relative;
    right: -200px;
    top: -70px;  
}
.right{
    position: relative;
    left: -200px;
    top: -70px;
}
.eye{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    gap: 5px;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}
.pupil{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
}